@media only screen and (max-width: 1499px){
}
@media only screen and (max-width: 1399px){
}
@media only screen and (max-width: 1199px){
}
@media only screen and (max-width: 980px){
}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 578px){
}