$red: #dc2529;
$redHover: #e04044;
$brown: #b79771;
$black: #242424;
$grey: #eeeeee;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: $black;
  letter-spacing: 0.5px;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
  }
  &::selection {
    color: #fff; /* Цвет текста */
    background: $brown; /* Цвет фона */
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}
body {
  position: relative;
  &.overflow {
    overflow: hidden;
  }
}
.hidden {
  display: none;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 1499px) {
    font-size: 54%;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 62.5%;
  }
}
.container {
  width: 1170px;
  margin: 0 auto;
  @media only screen and (max-width: 1199px) {
    font-size: 62.5%;
    width: 960px;
  }
  @media only screen and (max-width: 980px) {
    width: 760px;
  }
  @media only screen and (max-width: 768px) {
    width: 560px;
  }
  @media only screen and (max-width: 578px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hotspot-container {
  @media only screen and (max-width: 578px) {
    width: 70%;
    margin: 0 auto !important;
    //transform: translate(0,15%) scale(0.7);
  }
}
.hotspot-container .info-icon {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: $red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s ease-out;
  @media only screen and (max-width: 768px) {
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
  }
  &:after {
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s ease-out;
    content: 'READ BIO';
    transform: scale(0);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    @media only screen and (max-width: 768px) {
      width: 6rem;
      height: 6rem;
      font-size: 0.8rem;
    }
  }
  &:before {
    content: '\f141';
  }
  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}
.btn, .btn-overlay{
  display: block;
  width: 20rem;
  min-width: 20rem;
  height: 6rem;
  padding: 0 1rem;
  border-radius: 10rem;
  font-size: 1.4rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: transparent;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;
  @media only screen and (max-width: 1199px) {
    width: 18rem;
    min-width: 18rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.3rem;
  }
  @media only screen and (max-width: 980px) {
    width: 15.5rem;
    min-width: 15.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }
  @media only screen and (max-width: 768px) {
    height: 5.5rem;
    line-height: 5.5rem;
    min-width: 17.5rem;
  }
  @media only screen and (max-width: 578px) {
  }
  &_main {
    background: $red;
    &:hover {
      border-color: $redHover;
      background: #fff;
      color: $red;
    }
  }
  &_header {
    width: 14rem;
    min-width: 14rem;
    height: 4rem;
    line-height: 3.8rem;
    font-size: 1.1rem;
    border-color: $red;
    background: transparent;
    color: $red;
    @media only screen and (max-width: 1199px) {
      width: 12rem;
      min-width: 12rem;
    }
    &:hover {
      color: #fff;
      background: $red;
    }
  }
}
.btn_circle {
  display: block;
  width: 6rem;
  min-width: 6rem;
  height: 6rem;
  border: 1px solid #fff;
  background: $red;
  transition: all 0.3s ease-out;
  border-radius: 50%;
  cursor: pointer;
  @media only screen and (max-width: 1199px) {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
  }
  @media only screen and (max-width: 980px) {
    width: 4.5rem;
    height: 4.5rem;
    min-width: 4.5rem;
  }
  @media only screen and (max-width: 768px) {
    height: 5.5rem;
    width: 5.5rem;
    min-width: 5.5rem;
  }
  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      transition: all 0.3s ease-out;
      font-size: 2.4rem;
      color: #fff;
      text-align: center;
      @media only screen and (max-width: 1199px) {
        font-size: 2rem;
      }
    }
  }
  &_main {
    background: $black;
    &:hover {
      border-color: $redHover;
      background: #fff;
      i {
        color: $red;
      }
    }
  }
  &_video {
    background: $brown;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.5rem;
      @media only screen and (max-width: 1199px) {
        font-size: 1.2rem;
      }
    }
  }
}
.btn_circle_small,
.quantity-minus,
.quantity-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  transition: all 0.3s ease-out;
  font-size: 1.6rem;
  cursor: pointer;
  @media only screen and (max-width: 980px) {
    width: 3rem;
    height: 3rem;
  }
  i {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #fff;
    transition: all 0.3s ease-out;
    @media only screen and (max-width: 980px) {
      font-size: 1.1rem;
    }
  }
  &_point {
    background: #dadada;
  }
  &_main {
    background: $black;
    border-color: $black;
  }
}
.btn_circle_close {
  border-color: $brown;
  i {
    color: $brown;
  }
  &.active {
    background: $black;
    border-color: $black;

    i {
      color: #fff;
      transform: rotate(45deg);
    }
  }
}
.video-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22rem;
  height: 6rem;
  padding: 5px 0.5rem 5px 7.7rem;
  background: transparent;
  border-radius: 10rem;
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;
  .btn_circle_video {
    position: absolute;
    left: 0;
  }
  @media only screen and (max-width: 1199px) {
    width: 18rem;
    height: 5rem;
    font-size: 1.3rem;
    padding: 5px 0.5rem 5px 6rem;
  }
  @media only screen and (max-width: 980px) {
    height: 4.5rem;
  }
  @media only screen and (max-width: 768px) {
    height: 5.5rem;
  }
  &:hover {
    background: $brown;
    color: #fff;
    .btn_circle_video {
      background: $black;
      border-color: transparent;
      transform: scale(0.83);
    }
  }
}

.amount,
.quantity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .maybe {
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1.3rem;
  }
  & > span.wpcf7-form-control-wrap {
    min-width: 8rem;
  }
  & > p,
  & > span.wpcf7-form-control-wrap {
    font-size: 3.6rem;
    margin: 0 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: 1199px) {
      margin: 0 1.5rem;
    }
    @media only screen and (max-width: 980px) {
      font-size: 3rem;
    }
    input {
      max-width: 5rem;
      background: transparent;
      border: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
    input {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: -1px;
      margin-left: 5px;
      color: #fff;
      @media only screen and (max-width: 1199px) {
        font-size: 4rem;
      }
      @media only screen and (max-width: 980px) {
        font-size: 3.5rem;
      }
    }
  }
}
.bg-red {
  .amount {
    .btn_circle_small.disabled {
      border-color: #f98d8f;
      color: #f98d8f;
      i {
        color: #f98d8f;
      }
    }
  }
  .btn_main {
    border-color: #fff;
    background: $red;
    &:hover {
      border-color: $red;
      color: $red;
      background: #fff;
    }
  }
}
.bg-black {
  .amount {
    .btn_circle_small.disabled {
      border-color: #5c5c5c;
      color: #5c5c5c;
      i {
        color: #5c5c5c;
      }
    }
  }
  .btn_main {
    background: $black;
    border-color: #fff;
    &:hover {
      border-color: $black;
      color: $black;
      background: #fff;
    }
  }
}
.bg-brown {
  .amount {
    .btn_circle_small.disabled {
      border-color: #dcc3a7;
      color: #dcc3a7;
      i {
        color: #dcc3a7;
      }
    }
  }
  .btn_main {
    background: $brown;
    border-color: #fff;
    &:hover {
      border-color: $brown;
      color: $brown;
      background: #fff;
    }
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 5rem;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-size: 3.6rem;
  text-transform: capitalize;
  font-weight: 700;
  padding: 3.5rem 0;
  @media only screen and (max-width: 1199px) {
    font-size: 3.2rem;
    padding: 2.5rem 0;
  }
  @media only screen and (max-width: 980px) {
    font-size: 2.8rem;
  }
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 578px) {
  }
}
h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: 0;
  @media only screen and (max-width: 1199px) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 1.7rem;
  }
}
p {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4a4a4a;
  letter-spacing: 0;
}

form {
  input[type='text'] {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #4a4a4a;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #dadada;
    padding: 2rem 3rem;
  }
}

.fixed-menu {
  position: fixed;
  right: 10rem;
  width: 2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  @media only screen and (max-width: 1399px) {
    right: 5rem;
  }
  @media only screen and (max-width: 1199px) {
    right: 4rem;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  &.top-fixed {
    top: 50%;
    transform: translateY(-50%);
  }
  &.bottom-fixed {
    position: absolute;
    top: -70%;
    @media only screen and (max-width: 1399px) {
      top: -85%;
    }
  }
  #fixed-scroll {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      position: absolute;
      margin: 0;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        transform: rotate(90deg);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-out;
        span {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.7rem;
          &.number {
            transform: rotate(-90deg);
          }
        }
        span.line {
          display: block;
          width: 150px;
          height: 2px;
          background: #bdbdbd;
          border-radius: 1px;
          margin: 0 20px;
          @media only screen and (max-width: 1399px) {
            width: 110px;
          }
          @media only screen and (max-width: 1199px) {
            width: 100px;
          }
        }
        span.text-rotate {
          display: block;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 1.5rem;
          white-space: nowrap;
          transform: scale(-1,-1);
          margin-top: -5px;
        }
      }
      &.active {
        a {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

/*-----------home page-----------------*/
.btn_circle.instagram, .btn_circle.telegram, .btn_circle.whatsapp, .btn_circle.facebook{
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  &:hover{
    background: $red;
    border-color: #fff;
    i{
      color: #fff;
    }
  }
  @media only screen and (max-width: 1199px){
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
  }
  i{
    font-size: 21px;
  }
}
.fixed-section .instagram {
  position: fixed;
  right: 7.4rem;
  z-index: 998;
  bottom: 21.5rem;
  @media only screen and (max-width: 1399px) {
    right: 2.5rem;
  }
  @media only screen and (max-width: 1199px){
    bottom: 12rem;
  }
}
.fixed-section .facebook {
  position: fixed;
  right: 7.4rem;
  z-index: 998;
  bottom: 15rem;
  span{
    width: 11px;
    height: 23px;
    background: url('../img/facebook.svg') center center/cover no-repeat;
    i{
      opacity: 0;
      visibility: hidden;
    }
  }
  @media only screen and (max-width: 1399px) {
    right: 2.5rem;
  }
  @media only screen and (max-width: 1199px){
    bottom: 12rem;
  }
}
.fixed-section .whatsapp {
  position: fixed;
  right: 7.4rem;
  z-index: 998;
  bottom: 2rem;
  @media only screen and (max-width: 1399px) {
    right: 2.5rem;
  }
}
.fixed-section .telegram {
  position: fixed;
  right: 7.4rem;
  z-index: 998;
  bottom: 8.5rem;
  span{
    width: 20px;
    height: 17px;
    background: url('../img/telegram.svg') center center/cover no-repeat;
    i{
      opacity: 0;
      visibility: hidden;
    }
  }
  @media only screen and (max-width: 1399px) {
    right: 2.5rem;
  }
  @media only screen and (max-width: 1199px){
    bottom: 7rem;
  }
}
.main__footer .container .telegram{
  span{
    width: 15px;
    height: 13px;
    background: url('../img/telegram.svg') center center/cover no-repeat;
    i{
      opacity: 0;
      visibility: hidden;
    }
  }
}
.main__footer .container .facebook{
  span{
    width: 15px;
    height: 18px;
    background: url('../img/facebook.svg') center center/contain no-repeat;
    i{
      opacity: 0;
      visibility: hidden;
    }
  }
}
/*header*/
header {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  padding: 0 4rem;
  background: #fff;
  border-bottom: 1px solid $grey;
  @media only screen and (max-width: 980px) {
    padding: 0 2rem;
  }
  .logo {
    width: 14.4rem;
    height: auto;
    margin-right: 2.5rem;
    img {
      width: 100%;
    }
    @media only screen and (max-width: 980px) {
      width: 12.5rem;
      margin-right: 1rem;
    }
  }
  .menu-mobile {
    display: none;
  }
  nav {
    height: 100%;
    ul.main-menu {
      display: flex;
      height: 100%;
      .mobile {
        display: none;
      }
      & > li {
        list-style: none;
        cursor: pointer;
        & > a {
          position: relative;
          display: block;
          font-weight: 600;
          font-size: 1.6rem;
          padding: 0 2.45rem;
          height: 100%;
          line-height: 8rem;
          color: $black;
          letter-spacing: 0.3px;
          text-decoration: none;
          @media only screen and (max-width: 1199px) {
            padding: 0 1.5rem;
          }
          @media only screen and (max-width: 980px) {
            padding: 0 1rem;
            font-size: 1.5rem;
          }
          @media only screen and (max-width: 768px) {
          }
          @media only screen and (max-width: 578px) {
          }
          &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: '';
            width: 0;
            height: 2px;
            background: $red;
            transition: all 0.3s ease-out;
          }
          &:hover {
            &:after {
              width: 10rem;
            }
          }
        }
        &.menu-item-has-children {
          position: relative;
          & > .sub-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: -1rem;
            left: 50%;
            transform: translate(-50%, 100%);
            background: $black;
            padding: 0.4rem 0 2rem;
            visibility: hidden;
            opacity: 0;
            z-index: 999;
            transition: all 0.3s ease-out;
            a {
              letter-spacing: 0.3px;
              &:hover {
                background: $red;
              }
            }
            & > li {
              &:first-child {
                position: relative;
                &:before {
                  border: 7px solid transparent;
                  border-bottom: 7px solid $black;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, 0);
                  top: -17px;
                  content: '';
                }
              }
              & > a {
                display: block;
                text-align: center;
                color: #fff;
                font-size: 1.3rem;
                line-height: 4rem;
                text-align: center;
                text-transform: capitalize;
                white-space: nowrap;
                padding: 0 3.7rem;
                font-weight: 700;
                letter-spacing: 0;
              }
            }
            .sub-menu {
              li {
                text-align: center;
                padding: 0.5rem 0;
                &:hover {
                  background: $red;
                }
                a {
                  font-size: 1.3rem;
                  font-weight: 500;
                  line-height: 2.2rem;
                  color: #fff;
                  padding: 0 1.3rem;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    content: '';
                    transform: translateY(-50%);
                    width: 3px;
                    height: 3px;
                    background: #fff;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
          &:hover {
            & > .sub-menu {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/*main-screen*/
.main_screen {
  height: calc(100vh - 8rem);
  min-height: 500px;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 1399px) {
    height: auto;
    margin-bottom: 3rem;
  }
  @media only screen and (max-width: 560px) {
    min-height: 450px;
  }
  h1 {
    font-size: 6.4rem;
    //line-height: 1.4;
    text-align: center;
    font-weight: 700;
    margin: 2.5rem 0 0;
    letter-spacing: 0;
    @media only screen and (max-width: 1399px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 980px) {
      font-size: 4.5rem;
    }
    @media only screen and (max-width: 578px) {
      font-size: 3rem;
    }
    span {
      display: block;
      font-size: 12rem;
      color: $brown;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0px;
      line-height: 1.4;
      @media only screen and (max-width: 1499px) {
        font-size: 10rem;
      }
      @media only screen and (max-width: 1199px) {
        font-size: 8.5rem;
      }
      @media only screen and (max-width: 980px) {
        font-size: 6.5rem;
        margin-bottom: 1.5rem;
      }
      @media only screen and (max-width: 768px) {
        font-size: 5rem;
      }
      @media only screen and (max-width: 578px) {
        font-size: 4rem;
      }
    }
  }
  h2 {
    margin: 0 0 4.5rem;
    letter-spacing: 0;
    @media only screen and (max-width: 980px) {
      font-size: 2rem;
      line-height: 4rem;
      margin-bottom: 3.5rem;
      br {
        //display: none;
      }
    }
    @media only screen and (max-width: 768px) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  .btn {
    margin: 0 auto;
  }
}

/*content-section*/

.content-overlay {
  position: relative;
  overflow: hidden;
  padding: 5rem 0 7rem 0;
  display: flex;
  margin-bottom: 10rem;
  @media only screen and (max-width: 1399px) {
    margin-bottom: 5rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
  //height: 100vh;
  &#about-subsection {
    .content_section.content_section_right + h6 {
      top: 18%;
    }
    .content_pic {
      position: relative;
      .SVG1 {
        position: absolute;
        bottom: -3rem;
        right: 16rem;
        @media only screen and (max-width: 1199px) {
          width: 30%;
          bottom: -3rem;
          right: 10rem;
        }
        @media only screen and (max-width: 980px) {
          bottom: -1rem;
          right: 10rem;
        }
      }
      .SVG2 {
        position: absolute;
        bottom: 5.5rem;
        left: -11rem;
        //z-index: ;
        @media only screen and (max-width: 1199px) {
          bottom: 4rem;
          left: -8rem;
        }
        @media only screen and (max-width: 768px) {
          left: 0;
        }
      }
    }
  }
  &#schedule-subsection {
    padding-bottom: 13rem;
    @media only screen and (max-width: 1399px) {
      padding-bottom: 5rem;
    }
    @media only screen and (max-width: 768px) {
      padding-bottom: 0;
    }
    .content_text {
      padding-top: 5.5rem;
      @media only screen and (max-width: 768px) {
        padding-top: 0;
      }
    }
    .content_section.content_section_left + h6 {
      top: 24%;
      right: -4rem;
    }
    .content_pic {
      position: relative;
      .SVG2 {
        position: absolute;
        left: -1.5rem;
        bottom: 0.5rem;
        z-index: -1;
        @media only screen and (max-width: 1199px) {
          bottom: -2rem;
        }
        @media only screen and (max-width: 980px) {
          width: 30%;
        }
        @media only screen and (max-width: 768px) {
          left: 2rem;
        }
      }
      .SVG1 {
        position: absolute;
        bottom: 1.5rem;
        left: 22.5rem;
        z-index: -1;
        @media only screen and (max-width: 980px) {
          left: 15rem;
        }
        @media only screen and (max-width: 768px) {
          left: 22rem;
        }
      }
    }
  }
  &#location-subsection {
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 768px) {
      padding-bottom: 0;
    }
    .content_text {
      padding-top: 8rem;
      @media only screen and (max-width: 768px) {
        padding-top: 0;
      }
    }
    .content_section.content_section_right + h6 {
      top: 20%;
    }
    .content_pic {
      margin-left: -1.5rem;
      & > img {
        max-width: 102%;
        @media only screen and (max-width: 578px) {
          max-width: 70%;
        }
      }
      .SVG1 {
        position: absolute;
        bottom: 6rem;
        z-index: 1;
        left: 25.5rem;
        //z-index: -1;
        @media only screen and (max-width: 1199px) {
          bottom: 4.5rem;
          z-index: 1;
          left: 17.5rem;
        }
        @media only screen and (max-width: 980px) {
          width: 30%;
        }
        @media only screen and (max-width: 768px) {
          left: 27rem;
        }
      }
      .SVG2 {
        position: absolute;
        bottom: 11rem;
        left: -8rem;
        //z-index: ;
        @media only screen and (max-width: 1199px) {
          left: -7rem;
          bottom: 7rem;
        }
        @media only screen and (max-width: 980px) {
          left: -5rem;
        }
        @media only screen and (max-width: 768px) {
          left: 0;
        }
      }
    }
  }
  &#team-subsection {
    margin-bottom: 4rem;
    padding-top: 0;
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
    .content_pic {
      margin-right: 4rem;
      @media only screen and (max-width: 1399px) {
        margin: 0;
      }
    }
    .content_text {
      padding-top: 27.5rem;
      @media only screen and (max-width: 1399px) {
        padding-top: 10rem;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 0;
      }
    }
    .content_section.content_section_left + h6 {
      top: 32%;
      right: -2rem;
    }
    .content_pic {
      .SVG2 {
        position: absolute;
        bottom: 13rem;
        right: -1.5rem;
        z-index: -1;
        @media only screen and (max-width: 1199px) {
          bottom: 8rem;
          right: -3rem;
        }
        @media only screen and (max-width: 980px) {
          right: -5rem;
        }
        @media only screen and (max-width: 768px) {
          right: 0;
        }
      }
      div.SVG1 {
        position: absolute;
        bottom: 13.5rem;
        right: 45rem;
        @media only screen and (max-width: 1199px) {
          bottom: 8rem;
          right: 34rem;
          img {
            width: 100%;
          }
        }
        @media only screen and (max-width: 980px) {
          width: 30%;
          right: 30rem;
        }
        @media only screen and (max-width: 768px) {
          bottom: 6rem;
          right: 35rem;
        }
      }
      & > img {
        margin-top: -2rem;
        margin-left: -4rem;
      }
    }
  }
  h6 {
    position: absolute;
    top: 40%;
    //width: 100%;
    //text-align: center;
    font-size: 25rem;
    line-height: 20rem;
    color: #f4f4f4;
    text-transform: uppercase;
    font-weight: 800;
    z-index: -1;
    @media only screen and (max-width: 1499px) {
      font-size: 22rem;
    }
    @media only screen and (max-width: 1199px) {
      font-size: 15rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 10rem;
    }
    @media only screen and (max-width: 560px) {
      font-size: 5.5rem;
    }
  }
}
.content_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .content_pic {
    position: relative;
    div.SVG1,
    div.SVG2 {
      @media only screen and (max-width: 1199px) {
        img {
          width: 85%;
        }
      }
      @media only screen and (max-width: 980px) {
        width: 60%;
      }
      @media only screen and (max-width: 768px) {
        width: 45%;
      }
      @media only screen and (max-width: 578px) {
        display: none;
      }
    }
  }
  &.content_section_right {
    flex-direction: row;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    & + h6 {
      left: -1rem;
    }
  }
  &.content_section_left {
    flex-direction: row-reverse;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    & + h6 {
      right: -1rem;
    }
  }
  & > div {
    width: calc((100% - 30px) / 2);
    @media only screen and (max-width: 768px) {
      &:first-child {
        margin-bottom: 7rem;
      }
      width: 100%;
    }
    & > img {
      max-width: 100%;
      @media only screen and (max-width: 1199px) {
        font-size: 3.2rem;
        max-width: 90%;
      }
      @media only screen and (max-width: 768px) {
        max-width: 60%;
        margin: 0 auto;
        display: block;
      }
      @media only screen and (max-width: 560px) {
        max-width: 60%;
      }
    }
  }
  .content_text {
    h3 {
      padding: 0 0 3.5rem 0;
      letter-spacing: 0;
      @media only screen and (max-width: 1199px) {
        padding-bottom: 2.5rem;
      }
      @media only screen and (max-width: 980px) {
        font-size: 2rem;
      }
    }
    p {
      margin-bottom: 5.4rem;
      margin-top: 3.5rem;
      @media only screen and (max-width: 1199px) {
        margin-top: 2.5rem;
        margin-bottom: 4rem;
      }
      @media only screen and (max-width: 980px) {
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
    }
    .btn-section {
      display: flex;
      margin-top: 4.4rem;
      @media only screen and (max-width: 1199px) {
        margin-top: 3rem;
      }
      @media only screen and (max-width: 560px) {
        flex-direction: column;
        justify-content: center;
        .video-overlay {
          margin: 30px auto 0;
        }
      }
      .btn {
        margin-right: 3rem;
        @media only screen and (max-width: 560px) {
          margin: 0 auto;
        }
      }
    }
  }
}

/*schedule*/
.schedule {
  padding: 4.5rem 0 9rem 0;
  h3 {
    text-align: center;
    margin-bottom: 3.5rem;
    letter-spacing: 0;
  }
  p {
    text-align: center;
    @media only screen and (max-width: 768px) {
      padding: 15px 0 0;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #3a3a3a;
      text-align: center;
      letter-spacing: 0;
      i {
        margin-right: 1.6rem;
        color: $brown;
        font-size: 2.4rem;
      }
    }
  }
  .table {
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 6rem;
    @media only screen and (max-width: 1199px) {
      width: 100%;
      margin: 0 auto 5rem;
    }
    @media only screen and (max-width: 980px) {
      margin-bottom: 4rem;
    }
    @media only screen and (max-width: 768px) {
      width: 700px;
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: 578px) {
    }
    .row {
      display: flex;
      border-bottom: 1px solid #dadada;
      &:last-child {
        border-bottom: none;
      }
      & > div {
        width: calc(100% / 7);
        border-right: 1px solid #dadada;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
          border-right: none;
        }
        @media only screen and (max-width: 768px) {
          padding: 2px 4px;
        }
      }
    }
    .table-head {
      & > div:first-child {
        position: relative;
        background: #f4f4f4;
        &::after {
          position: absolute;
          //content: '';
          transform: rotate(90deg);
          height: 1px;
          background: #f4f4f4;
        }
      }
      h5 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        text-align: center;
        color: #363636;
        letter-spacing: 0;
        @media only screen and (max-width: 1199px) {
          font-size: 1.4rem;
        }
      }
    }
    .table-body {
      & > div {
        &.bg-red {
          background: $red;
          border-color: $red;
        }
        &.bg-black {
          background: $black;
          border-color: $black;
        }
      }
      h5 {
        font-size: 1.3rem;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        @media only screen and (max-width: 980px) {
          font-size: 1.2rem;
        }
      }
      h6 {
        line-height: 2.2rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-weight: 600;
        @media only screen and (max-width: 980px) {
          line-height: 2rem;
        }
        span {
          display: block;
          font-size: 1.2rem;
          color: #fff;
          font-weight: 700;
          @media only screen and (max-width: 980px) {
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

/*price-plan*/
.price-plan {
  background: #f4f4f4;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
  padding: 5.5rem 0 9rem;
  @media only screen and (max-width: 768px) {
    padding: 4rem 0 6rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 4rem;
    @media only screen and (max-width: 1199px) {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: 980px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }
  .ticket-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ticket {
      width: calc((100% - 30px) / 3);
      border-radius: 5px;
      background: transparent;
      padding: 5.5rem 4.5rem;
      margin-bottom: 16px;
      border: 1px solid transparent;
      position: relative;
      * {
        z-index: 2;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: 1;
        display: block;
        content: '';
        transition: all 0.3s ease-out;
      }
      @media only screen and (max-width: 1199px) {
        padding: 3rem;
      }
      @media only screen and (max-width: 980px) {
        width: calc((100% - 20px) / 3);
        padding: 3rem 2rem;
      }
      @media only screen and (max-width: 768px) {
        width: 35rem;
        margin: 0 auto 25px auto;
      }
      *:not(.btn_main) {
        color: #fff;
      }
      &.revealator-delay6:hover,
      &.revealator-delay4:hover,
      &.revealator-delay2:hover {
        transition-delay: 0ms !important;
      }
      &.bg-red {
        &:after {
          background: $red;
        }
        //border-color: $red;
        .price-block {
          .center:after,
          .center:before {
            background: #e57b7d;
          }
        }
        .btn_circle_small {
          &.plus:hover,
          &.minus:hover {
            border-color: $red;
            background: $red;
            i {
              color: #fff;
            }
          }
          &.plus.inactive:hover,
          &.minus.inactive:hover{
            border-color: $black;
            background: transparent;
            i {
              color: $black;
            }
          }
        }
        &:hover {
          .time {
            i {
              color: $red;
            }
          }
          .price {
            h4 {
              color: $red;
            }
            .sale p {
              color: $red;
            }
          }
        }
      }
      &.bg-black {
        &:after {
          background: $black;
        }
        .btn_circle_small {
          &.plus:hover,
          &.minus:hover {
            border-color: $black;
            background: $black;
            i {
              color: #fff;
            }
          }
        }
        //border-color: $black;
        .price-block {
          .center:after,
          .center:before {
            background: #555555;
          }
        }
        &:hover {
          .time {
            i {
              color: $black;
            }
          }
          .price {
            h4 {
              color: $black;
            }
            .sale p {
              color: $black;
            }
          }
        }
      }
      &.bg-brown {
        &:after {
          background: $brown;
        }
        .btn_circle_small {
          &.plus:hover,
          &.minus:hover {
            border-color: $brown;
            background: $brown;
            i {
              color: #fff;
            }
          }
        }
        //border-color: $brown;
        .price-block {
          .center:after,
          .center:before {
            background: #cab090;
          }
        }
        &:hover {
          .time {
            i {
              color: $brown;
            }
          }
          .price {
            h4 {
              color: $brown;
            }
            .sale p {
              color: $brown;
            }
          }
        }
      }
      &:hover {
        &:after {
          background: #fff;
        }
        *:not(.btn_main) {
          color: #4a4a4a;
        }
        .amount {
          .btn_circle_small {
            border-color: #4a4a4a;
            &.disabled {
              border-color: #cccccc;
              i {
                color: #cccccc;
              }
            }
          }
        }
        .price-block {
          .center:after,
          .center:before {
            background: #dadada;
          }
          .price .sale h5:after {
            background: #4a4a4a;
          }
        }
      }

      .infinity {
        display: none;
        height: 5.7rem;
        img {
          height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
      .amount {
        height: 5.7rem;
        justify-content: center;
        &>p {
          display: flex;
          align-items: center;
          input{
          max-width: 6.3rem;
          text-align: center;
          }
        }
        .maybe{
          text-align: center;
          background: $black;
          position: relative;
          z-index: 3;
          font-weight: 600;
          font-size: 14px;
          line-height: 40px;
          padding: 0;
          border-radius: 5px;
          margin-top: 7px;
          color: #fff !important;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-out;
          &:after {
            border: 7px solid transparent;
            border-bottom: 7px solid $black;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -14px;
            content: '';
        }
        }
        .plus.inactive, .minus.inactive{
          opacity: 0.5;
        }
        .plus.inactive:hover{
          &+.maybe{
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .title {
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        h3 {
          font-size: 2.2rem;
          margin: 0 0 0.5rem;
          padding: 0;
          letter-spacing: 0;
          text-transform: uppercase;
          @media only screen and (max-width: 1199px) {
            margin-bottom: 0.5rem;
          }
          @media only screen and (max-width: 980px) {
            font-size: 2rem;
          }
        }
        p {
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 2rem;
          @media only screen and (max-width: 1199px) {
            min-height: 4rem;
          }
          
          @media only screen and (max-width: 980px) {
            font-size: 1.1rem;
          }
          @media only screen and (max-width: 768px) {
            min-height: auto;
          }
        }
      }
      .price-block {
        @media only screen and (max-width: 460px) {
          align-items: center;
        }
        .center {
          position: relative;
          padding: 3rem 0 2.5rem;
          @media only screen and (max-width: 1199px) {
            padding: 2rem 0 1.5rem;
          }
          @media only screen and (max-width: 768px) {
            padding: 1.5rem 0;
          }
          &:after,
          &:before {
            position: absolute;
            height: 1px;
            border-radius: 1px;
            content: '';
            width: 100%;
            transition: all 0.3s ease-out;
          }
          &:after {
            bottom: 0;
          }
          &:before {
            top: 0;
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          height: 10rem;
          margin-bottom: 2rem;
          @media only screen and (max-width: 1199px) {
            height: 7rem;
          }
          @media only screen and (max-width: 768px) {
            height: auto;
          }
          h4 {
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 6.4rem;
            text-align: center;
            @media only screen and (max-width: 1499px) {
            }
            @media only screen and (max-width: 1399px) {
              font-size: 5rem;
              line-height: 5rem;
            }
            @media only screen and (max-width: 1199px) {
              font-size: 4.5rem;
              line-height: 4.5rem;
            }
            @media only screen and (max-width: 980px) {
              font-size: 3.3rem;
            }
            @media only screen and (max-width: 768px) {
            }
            @media only screen and (max-width: 578px) {
            }
          }
          .sale {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.7rem;
            @media only screen and (max-width: 1199px) {
              margin: 0;
            }
            @media only screen and (max-width: 460px) {
              display: flex;
              align-items: center;
            }
            h5 {
              position: relative;
              display: inline;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 3rem;
              @media only screen and (max-width: 460px) {
                margin-right: 10px;
              }
              &::after {
                position: absolute;
                left: 0;
                content: '';
                display: block;
                width: 105%;
                height: 2px;
                background: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            p {
              font-weight: 500;
              font-size: 1.4rem;
              line-height: 3rem;
              margin-left: 1.5rem;
              @media only screen and (max-width: 1199px) {
                line-height: 2rem;
              }
            }
          }
        }
        span.time {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 3rem;
          margin-top: 0.5rem;
          @media only screen and (max-width: 980px) {
            font-size: 1.1rem;
          }
          @media only screen and (max-width: 768px) {
            margin-top: 0;
          }
          @media only screen and (max-width: 560px) {
            width: auto;
            white-space: nowrap;
          }
          i {
            font-size: 1.4rem;
            margin-right: 1rem;
          }
        }
      }
      .ticket-footer {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (max-width: 560px) {
          flex-wrap: wrap;
        }
        & > div {
          text-align: center;
          margin-bottom: 4rem;
          & + .btn {
            margin: 0 auto;
          }
          @media only screen and (max-width: 1199px) {
            margin: 0 0 20px 0;
          }
          @media only screen and (max-width: 560px) {
            margin: 0 0 20px 0;
          }
        }
        h5 {
          font-size: 1.4rem;
          line-height: 3rem;
          font-weight: 700;
          @media only screen and (max-width: 980px) {
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }
        h6 {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1rem;
          @media only screen and (max-width: 1199px) {
            line-height: 1.5rem;
            min-height: 3rem;
          }
          @media only screen and (max-width: 980px) {
            font-size: 1.15rem;
          }
          @media only screen and (max-width: 768px) {
            min-height: auto;
          }
        }
      }
      &.infinity-ticket {
        .amount {
          display: none;
        }
        .infinity {
          display: block;
        }
      }
    }
  }
}

/*faq*/
.faq-section {
  padding: 5.5rem 0 9.5rem;
  @media only screen and (max-width: 1199px) {
    padding: 4rem 0 7rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 4rem;
    @media only screen and (max-width: 980px) {
      margin-bottom: 2rem;
    }
  }
  .btn {
    margin: 0 auto;
    margin-top: 6rem;
    @media only screen and (max-width: 1199px) {
      margin-top: 4rem;
    }
  }
  .faq-block {
    width: 100%;
  }
  .faq {
    margin-bottom: 1rem;
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
    .faq-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f8f8f8;
      padding: 2rem 2rem 2rem 4rem;
      cursor: pointer;
      @media only screen and (max-width: 1199px) {
        padding: 1.8rem;
      }
      @media only screen and (max-width: 980px) {
        padding: 1.5rem;
      }
      .btn_circle_close {
        background: $brown;
        i {
          color: #fff;
        }
        &.active {
          background: $black;
        }
      }
      h5 {
        width: calc(100% - 6rem);
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0;
        @media only screen and (max-width: 980px) {
          font-size: 1.8rem;
        }
      }
    }
    .faq-body {
      display: none;
      padding: 3rem 2rem 4rem 4rem;
      background: #f4f4f4;
      border-top: 1px solid #dadada;
      @media only screen and (max-width: 560px) {
        padding: 2.5rem;
      }
      p {
        width: 74%;
        line-height: 3rem;
        color: #4a4a4a;
        font-size: 1.6rem;
        @media only screen and (max-width: 980px) {
          width: 80%;
        }
        @media only screen and (max-width: 560px) {
          width: 100%;
        }
      }
    }
  }
}

/*classes*/
.classes-section {
  padding: 5.3rem 0 9.5rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: #f4f4f4;
  h3 {
    text-align: center;
    margin-bottom: 1.8rem;
  }
  form {
    .form-line > p {
      color: $black;
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      line-height: 4rem;
      padding-top: 1.5rem;
      letter-spacing: -0.1px;
      @media only screen and (max-width: 1199px) {
        margin: 0;
        line-height: 2.5rem;
        font-size: 1.8rem;
      }
    }
    .radio-posts {
      & > span {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 980px) {
          flex-wrap: wrap;
        }
        & > span {
          position: relative;
          display: block;
          width: calc((100% - 3rem) / 3);
          border: none;
          border-radius: 5px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 3rem;
          background: #ffffff;
          border: 1px solid #dadada;
          margin: 0;
          @media only screen and (max-width: 1199px) {
            width: calc((100% - 2rem) / 3);
          }
          @media only screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 0.8rem;
          }
          .info-item {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border-radius: 5px;
            border: 1px solid #dadada;
            color: #dadada;
            transition: all 0.3s ease-out;
            i {
              font-size: 1rem;
              color: #dadada;
              transition: all 0.3s ease-out;
            }
          }
          input {
            display: none;
          }
          label {
            padding: 1rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            @media only screen and (max-width: 1199px) {
              padding: 1rem;
            }
            span.circle {
              position: relative;
              display: block;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background: #dadada;
              margin-right: 2.4rem;
              transition: all 0.3s ease-out;
              @media only screen and (max-width: 1199px) {
                margin-right: 1.4rem;
              }
              &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                content: '\f00c';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 1.6rem;
                line-height: 0;
                color: #fff;
              }
            }
            & > div {
              h4 {
                text-align: left;
                color: #4a4a4a;
                font-weight: 700;
                font-size: 1.6rem;
                text-transform: uppercase;
                line-height: 3.5rem;
                @media only screen and (max-width: 1199px) {
                  line-height: 2.5rem;
                }
              }
              .item_content {
                text-align: left;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 4rem;
                margin-top: -1.5rem;
                @media only screen and (max-width: 1199px) {
                  line-height: 1.2rem;
                  margin-top: 5px;
                }
              }
            }
          }
          input:checked {
            & + label span.circle {
              background: $red;
            }
          }
        }
      }
      .info-overlay {
        position: absolute;
        z-index: 999;
        right: -1.1rem;
        top: 3.7rem;
        padding: 0.9rem 3rem 2rem 2rem 2rem;
        background: $black;
        border-radius: 5px;
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-out;
        .info__line {
          &:first-child {
            position: relative;
            &:before {
              border: 7px solid transparent;
              border-bottom: 7px solid #242424;
              position: absolute;
              right: -1rem;
              top: -20px;
              content: '';
            }
          }
          h4 {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 4rem;
            color: #fff;
            text-transform: initial;
          }
          p {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 3rem;
            margin-top: -0.5rem;
            color: #fff;
            span {
              display: inline-block;
              font-weight: 500;
              font-size: 1.2rem;
              line-height: 2.5rem;
              color: #fff;
              background: $red;
              border-radius: 99px;
              padding: 0 0.8rem;
            }
          }
        }
        .additional__info {
          position: relative;
          padding-top: 0.5rem;
          margin-top: 1rem;
          &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: #555555;
            border-radius: 1px;
          }
          h6,
          h5 {
            color: #fff;
            line-height: 4rem;
            font-size: 1.1rem;
            font-weight: 500;
            position: relative;
            padding-left: 3rem;
            text-align: left;
            i {
              color: $red;
              font-size: 1.4rem;
              margin-right: 2rem;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          h6 {
            font-weight: 400;
            i {
              color: #fff;
            }
          }
          h5 {
            margin-top: -1rem;
            & + h6 {
              line-height: 1.1rem;
              margin-top: -0.5rem;
            }
          }
        }
      }
      .info-item:hover {
        background: $brown;
        border: 1px solid $brown;
        i {
          color: #fff;
        }
        & + .info-overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .form-line {
      font-size: 2rem;
      text-align: center;
      line-height: 4rem;
      font-weight: 500;
      margin-bottom: 3rem;
      @media only screen and (max-width: 1199px) {
        margin-bottom: 2rem;
      }
    }
    .form-top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 1.4rem;
      br {
        display: none;
      }
      span {
        width: calc((100% - 3rem) / 3);
        @media only screen and (max-width: 1199px) {
          width: calc((100% - 2rem) / 3);
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 0.8rem;
        }
      }
      input {
        padding: 2rem 3rem;
        width: 100%;
        border: none;
        height: 7rem;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3rem;
        background: #ffffff;
        border: 1px solid #dadada;
        transition: all 0.3s ease-out;
        &.wpcf7-not-valid {
          border-color: $red;
          & + span.wpcf7-not-valid-tip {
            width: 100%;
            text-align: left;
            color: $red;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 8px 6px;
            line-height: 1.2rem;
          }
        }
        @media only screen and (max-width: 1199px) {
          padding: 1.5rem;
          height: 6rem;
        }
      }
    }
    .btn-overlay{
      margin: 0 auto;
    }
    .quantity-line {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & > div {
        padding: 1.5rem 3rem;
        width: calc((100% - 1.6rem) / 2);
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3rem;
        background: #ffffff;
        border: 1px solid #dadada;
        @media only screen and (max-width: 1199px) {
          width: calc((100% - 1rem) / 2);
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 0.8rem;
        }
        &.quantity_block,
        &.total_block {
          display: flex;
          justify-content: space-between;
          @media only screen and (max-width: 560px) {
            flex-direction: column;
          }
          & > div {
            width: 43%;
            &:first-child {
              width: 56%;
            }
            @media only screen and (max-width: 1199px) {
              width: 47%; 
              &:first-child {
                width: 50%;
              }
            }
            @media only screen and (max-width: 560px) {
              width: 100%; 
              margin-bottom: 2rem;
              justify-content: center;
              &:first-child {
                width: 100%;
              }
            }
          }
          h4 {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 5.5rem;
            text-transform: capitalize;
            color: #4a4a4a;
            text-align: left;
            @media only screen and (max-width: 980px) {
              line-height: 2.5rem;
            }
          }
          .info {
            text-align: left;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 3rem;
            margin-top: -1.5rem;
            @media only screen and (max-width: 1199px) {
              line-height: 2rem;
              font-size: 1.2rem;
              margin-top: 0;
            }
          }
          .totalprice {
            display: flex;
            justify-content: flex-end;
            span {
              color: $red;
              font-size: 4.8rem;
              line-height: 3rem;
              font-weight: 700;
              text-align: right;
              @media only screen and (max-width: 1199px) {
                font-size: 4rem;
              }
            }
          }
        }
      }
      .quantity {
        justify-content: flex-end;
        span.quantity {
          position: relative;
          @media only screen and (max-width: 980px) {
            min-width: 6rem;
            margin: 0 1rem;
            input {
              max-width: 4rem;
            }
          }
          @media only screen and (max-width: 768px) {
            min-width: 5.5rem;
            margin: 0 1.3rem;
            input {
              max-width: 3.5rem;
            }
          }
          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            content: 'x';
            display: block;
            color: #4a4a4a;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.6rem;
            font-weight: 700;
            @media only screen and (max-width: 980px) {
              font-size: 2.6rem;
            }
          }
        }
        .maybe {
          text-align: right;
        }
        .infinity {
          min-height: 4.7rem;
          width: 12.3rem;
          background: url('../img/infinity.svg') center center/contain no-repeat;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        input[type='number'] {
          -moz-appearance: textfield;
        }
      }

      .quantity-minus,
      .quantity-plus {
        color: #4a4a4a;
        border-color: #4a4a4a;
        transition: all 0.3s ease-out;
        i {
          line-height: 0;
          color: #4a4a4a;
          transition: all 0.3s ease-out;
        }
        &:hover {
          color: #fff;
          background: $black;
          border-color: $black;
          i {
            color: #fff;
          }
        }
      }
      .quantity > span.wpcf7-form-control-wrap span,
      .quantity > span.wpcf7-form-control-wrap input {
        color: #4a4a4a;
        @media only screen and (max-width: 980px) {
          font-size: 3rem;
        }
      }
    }
    .agree-line {
      span {
        font-size: 1.6rem;
        line-height: 3rem;
        color: #4a4a4a;
        a {
          color: $red;
          text-decoration: underline;
        }
        &.wpcf7-not-valid-tip{
          color: $red;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }

    .wpcf7-response-output {
      margin: 20px 0 0;
      padding: 0;
      border: none;
      text-align: center;
      .woocommerce-error {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        background: transparent;
        text-align: center;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          position: relative;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 2.5rem;
          color: $red;
          padding-left: 1.5rem !important;
          strong {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.5rem;
            color: $red;
          }
          &:before {
            position: absolute;
            top: 50%;
            transform: translate(-100%, -50%);
            left: 0;
            content: '\f05a';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: inline-block;
            color: $red;
            line-height: 2.5rem;
            font-size: 2rem;
          }
        }
        &:before {
          display: none;
        }
      }
      &.wpcf7-validation-errors {
      }
    }
  }
  position: relative;
  .success-block, .error-block{
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 13.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out; 
    @media only screen and (max-width: 1199px){
      padding-bottom: 10rem;
    }
  }
  &.form-invalid{
    .container{
      visibility: hidden;
      opacity: 0;
    }    
    .container.error-block{
      visibility: visible;
      opacity: 1;
    }
    @media only screen and (max-width: 980px){
      height: 650px;
    }
  }
  &.form-sent{
    .container{
      visibility: hidden;
      opacity: 0;
    }
    .container.success-block{
      visibility: visible;
      opacity: 1;
    }
    @media only screen and (max-width: 980px){
      height: 650px;
    }
  }

  .success-block, .error-block{
    .circle{
      width: 15rem;
      height: 15rem;
      background: $brown;
      border-radius: 50%;
      position: relative;
      margin-bottom: 1.7rem;
      &:after{
        position: absolute;
        top: 50%;
        left: 52%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        display: block;
        content: '\f00c';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 8rem;
        line-height: 0;
        color: #fff;
      }
      @media only screen and (max-width: 1199px){
        width: 12rem;
        height: 12rem;
        &:after{
          font-size: 6rem;
        }
      }
      @media only screen and (max-width: 768px){
        width: 9rem;
        height: 9rem;
        &:after{
          font-size: 4rem;
        }
      }
    }
    h3{
      margin: 0;
      padding: 0;
      line-height: 11rem;
      @media only screen and (max-width: 1199px){
        line-height: 8rem;
      }
    }
    h4{
      line-height: 4.5rem;
      font-weight: 500;
      margin-bottom: 5.2rem;
      text-align: center;
      span{
        display: block;
        font-size: 1.6rem;
      }
    }
  }
  .error-block{
    .circle:after{
      content: '';
      width: 7.4rem;
      height: 7.4rem;
      background: url('../img/sad_face.svg') center center/cover no-repeat;
      left: 50%;
      @media only screen and (max-width: 1199px){
        width: 5.4rem;
        height: 5.4rem;
      }
      @media only screen and (max-width: 768px){
        width: 3.4rem;
        height: 3.4rem;
      }
    }
  }





}
.payment_methods {
  @media only screen and (max-width: 1199px) {
    font-size: 1.6rem;
  }
}
.payment_box p {
  font-size: 1.6rem;
  @media only screen and (max-width: 1199px) {
    font-size: 1.4rem;
  }
}

/*photos*/
.photos-section {
  padding: 5.2rem 0 6.5rem;
  @media only screen and (max-width: 980px) {
    padding: 3.5rem 0 7rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 3.5rem;
  }
  .photos-top,
  .photos-bottom {
    img {
      border-radius: 5px;
    }
  }
  .photo-slider {
    display: none;
    @media only screen and (max-width: 768px) {
      display: block;
    }
    .slick-prev {
      left: -5vw;
    }
    .slick-next {
      right: -5vw;
    }
    .slick-prev:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f053';
      color: $black;
      font-size: 28px;
    }
    .slick-next:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f054';
      color: $black;
      font-size: 28px;
    }
    .slide {
      overflow: hidden;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 578px) {
        height: 350px;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      margin: 0 auto;
    }
  }
  .photos-top {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 980px) {
      margin-bottom: 10px;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;
      margin-bottom: 15px;
      border-radius: 5px;
      max-height: 408px;
      @media only screen and (max-width: 1499px) {
        max-height: 350px;
      }
      @media only screen and (max-width: 980px) {
        max-height: 700px;
      }
      div{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      img {
        height: 100%;
        min-width: 100%;
        visibility: hidden;
      }
      &.photo-slider {
        display: none;
      }
      & > div:first-child {
        width: calc(20% - 11px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (max-width: 980px) {
          flex-direction: row;
          width: 100%;
          height: calc((100% - 16px) / 2);
          margin-bottom: 16px;
        }
        & > div {
          height: calc((100% - 16px) / 2);
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 5px;
          div{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
          }
          @media only screen and (max-width: 980px) {
            height: 100%;
            width: calc((100% - 16px) / 2);
          }
        }
      }
      & > div:nth-child(2),
      & > div:last-child {
        width: calc(40% - 11px);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        height: 100%;
        @media only screen and (max-width: 980px) {
          width: calc((100% - 16px) / 2);
          height: calc((100% - 16px) / 2);
        }
      }
    }
    & > div:first-child {
      width: 100%;
      flex-direction: row;
    }
    & > div:nth-child(2) {
      flex-direction: row-reverse;
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      & > div {
        display: none;
      }
      & > div.photo-slider {
        display: block;
      }
    }
  }
}

/*map*/
.contact {
  .map {
    position: relative;
    height: 75rem;
    overflow: hidden;
    @media only screen and (max-width: 1499px) {
      height: 65rem;
    }
    @media only screen and (max-width: 1199px) {
      height: 60rem;
    }
    @media only screen and (max-width: 768px) {
      height: 50rem;
    }
    .map-bg {
      width: 100%;
      height: 100%;
    }
  }
  .container {
    width: auto;
    height: auto;
    position: absolute;
    top: 47%;
    transform: translate(0, -50%);
    left: calc((100vw - 1170px) / 2);
    @media only screen and (max-width: 1199px) {
      left: calc((100vw - 960px) / 2);
    }
    @media only screen and (max-width: 980px) {
      left: calc((100vw - 760px) / 2);
    }
    @media only screen and (max-width: 768px) {
      transform: translate(-50%, -50%);
      left: 50%;
    }
    @media only screen and (max-width: 578px) {
      display: flex;
    }
  }
  .info-card {
    display: inline-block;
    padding: 5.9rem 3.7rem;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    //margin: 12.5rem 0 16rem;
    @media only screen and (max-width: 1399px) {
      //margin: 9rem 0 10rem;
      padding: 4rem 3rem;
    }
    @media only screen and (max-width: 1199px) {
      //margin: 7rem 0 8rem;
      padding: 3.5rem 2.5rem;
    }
    @media only screen and (max-width: 768px) {
      padding: 2rem;
      // margin: 10rem auto;
    }
    .street {
      position: relative;
      display: flex;
      padding: 0 4.2rem;
      padding-bottom: 3.3rem;
      @media only screen and (max-width: 980px) {
        padding: 0 2rem 2rem;
      }
      @media only screen and (max-width: 768px) {
        padding: 0 0 2rem;
      }
      span {
        margin-right: 3rem;
        @media only screen and (max-width: 768px) {
          margin-right: 1.5rem;
        }
      }
      h5 {
        color: #dadada;
        font-size: 2.2rem;
        line-height: 4.5rem;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0;
        @media only screen and (max-width: 768px) {
          font-size: 1.8rem;
          line-height: 3.5rem;
        }
        @media only screen and (max-width: 578px) {
          line-height: 2.5rem;
        }
      }
      h6 {
        color: #dadada;
        font-size: 1.2rem;
        //line-height: 4rem;
        font-weight: 400;
        letter-spacing: 0;
      }
      &.active,
      &:hover {
        cursor: pointer;
        .btn_circle_small_point {
          background: $red;
        }
        h5,
        h6 {
          color: #4a4a4a;
        }
      }
      &:last-child {
        &:after {
          position: absolute;
          height: 1px;
          border-radius: 1px;
          width: 100%;
          background: #dadada;
          content: '';
          display: block;
          bottom: 0;
          left: 0;
        }
      }
    }
    .info-block {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;
      padding: 1.6rem 0 1.8rem;
      @media only screen and (max-width: 980px) {
        padding: 1.2rem 0;
      }
      h4 a {
        font-size: 1.6rem;
        line-height: 4.5rem;
        color: #4a4a4a;
        font-weight: 700;
        margin: 0 1.6rem;
        &:hover {
          text-decoration: none;
        }
        @media only screen and (max-width: 768px) {
          line-height: 3rem;
          font-size: 1.4rem;
        }
      }
      &:after,
      &:before {
        position: absolute;
        height: 1px;
        border-radius: 1px;
        width: 100%;
        background: #dadada;
        content: '';
        display: block;
        left: 0;
      }
      &:after {
        bottom: 0;
      }
      &:before {
        top: 0;
      }
    }
    .btn {
      margin: 0 auto;
      margin-top: 3rem;
      @media only screen and (max-width: 768px) {
        margin-top: 1.5rem;
      }
      @media only screen and (max-width: 460px) {
        width: 100%;
        display: block;
      }
    }
  }
}

/*footer*/
footer {
  position: relative;
  background: $black;
  padding: 8.7rem 0 9.8rem;
  @media only screen and (max-width: 1399px) {
    padding: 5rem 0;
  }
  .logo-footer {
    position: relative;
    margin-bottom: 3rem;
    @media only screen and (max-width: 980px) {
      margin-bottom: 2.5rem;
    }
    @media only screen and (max-width: 768px) {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    & > div {
      width: calc((100% - 12rem) / 6);
      @media only screen and (max-width: 980px) {
        width: auto;
        padding: 0 25px 0 0;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 2.5rem;
      }
      &:first-child {
        width: calc((100% - 6rem) / 4);
        @media only screen and (max-width: 980px) {
          width: calc((100% - 3rem) / 4);
          margin-right: 10px;
          padding: 0;
        }
      }
      &:nth-child(2) {
        width: calc((100% - 6rem) / 4);
        @media only screen and (max-width: 980px) {
          width: calc((100% - 3rem) / 4);
          padding: 0 0 0 15px;
        }
      }
      &:last-child {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 0.5rem;
        @media only screen and (max-width: 1199px) {
          width: calc((100% - 12rem) / 7);
        }
        @media only screen and (max-width: 980px) {
          width: auto;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          padding: 0;
        }
        @media only screen and (max-width: 768px) {
          flex-direction: row;
          justify-content: center;
        }
        p {
          font-size: 1.1rem;
          font-weight: 500;
          color: #fff;
          display: inline-block;
          margin-right: 1rem;
          white-space: nowrap;
          @media only screen and (max-width: 980px) {
            margin-right: 0;
          }
          @media only screen and (max-width: 768px) {
            font-size: 1.3rem;
          }
          & + img {
            display: inline;
            padding: 0.85rem 0;
            width: 5rem;
            height: auto;
            @media only screen and (max-width: 1199px) {
              //width: 4.5rem;
              display: block;
              margin: 0 auto;
              @media only screen and (max-width: 768px) {
                display: inline-block;
                margin: 0 0 0 1rem;
                width: 6rem;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      & > div {
        width: 100% !important;
      }
    }
  }
  h5 {
    font-size: 2rem;
    color: #fff;
    line-height: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: 0;
    @media only screen and (max-width: 1199px) {
      font-size: 1.7rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
      text-align: center;
    }
  }

  a.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 3rem;
    @media only screen and (max-width: 1199px) {
      font-size: 1.1rem;
    }
    @media only screen and (max-width: 980px) {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: 768px) {
      justify-content: center;
      font-size: 1.5rem;
    }
    span {
      display: flex;
      justify-content: center;
      min-width: 1.8rem;
      margin-right: 2rem;
      @media only screen and (max-width: 1199px) {
        margin-right: 1rem;
        min-width: 1.5rem;
        @media only screen and (max-width: 768px) {
          min-width: 2.5rem;
        }
      }
      i {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: #fff;
        @media only screen and (max-width: 1199px) {
          font-size: 1.5rem;
        }
        @media only screen and (max-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }
  }
  ul:not(#fixed-scroll) {
    column-count: 2;
    @media only screen and (max-width: 980px) {
      //column-count: 1;
    }
    @media only screen and (max-width: 768px) {
      max-width: 320px;
      margin: 0 auto;
    }
    li {
      margin-bottom: 2.5rem;
      @media only screen and (max-width: 1199px) {
        margin-bottom: 2rem;
      }
      @media only screen and (max-width: 980px) {
        margin-bottom: 1.5rem;
      }
      @media only screen and (max-width: 768px) {
        max-width: 100px;
        margin: 0 auto 1.5rem;
      }

      a {
        display: block;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: #fff;
        position: relative;
        padding: 0 0 0 2rem;
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          content: '';
          transform: translateY(-50%);
          width: 3px;
          height: 3px;
          background: $red;
          border-radius: 50%;
          display: block;
        }
        @media only screen and (max-width: 1199px) {
          font-size: 1.1rem;
          padding: 0 0 0 1.5rem;
        }
        @media only screen and (max-width: 980px) {
          font-size: 1rem;
          padding: 0 0 0 1rem;
        }
        @media only screen and (max-width: 768px) {
          font-size: 1.4rem;
          padding: 0 0 0 1.5rem;
        }
      }
    }
  }
  .copyright {
    padding-top: 3.6rem;
    position: relative;
    display: inline-block;
    @media only screen and (max-width: 980px) {
      padding-top: 2.5rem;
    }
    @media only screen and (max-width: 768px) {
      display: block;
      text-align: center;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: #555;
      border-radius: 5px;
      display: block;
      content: '';
    }
    p,
    a,
    span {
      font-size: 1.1rem;
      line-height: 1.3rem;
      font-weight: 500;
      color: #f1f1f1;
      margin-bottom: 1.7rem;
      letter-spacing: 0;
      span {
        display: inline-block;
        margin: 0 13px 0 17px;
      }
      a {
        text-decoration: underline;
      }
      @media only screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }
}

/*modal window*/
.modal-window {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  &.popover {
    @media only screen and (max-width: 768px) {
      width: 100vw;
      height: 100vh;
    }
  }
  &.modal-show {
    display: block;
  }
  .modal-close {
    cursor: pointer;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #dadada;
    max-width: 830px;
    height: auto;
    max-height: 730px;
    @media only screen and (max-width: 1499px) {
      max-height: 600px;
    }
    @media only screen and (max-width: 1399px) {
      max-height: 85vh;
    }
    @media only screen and (max-width: 1199px) {
      max-width: 750px;
      width: 750px;
    }
    @media only screen and (max-width: 768px) {
      max-width: 95vw;
      max-height: 95vh;
    }
    & > .btn_circle_small {
      position: absolute;
      top: 3rem;
      right: 3rem;
      z-index: 999;
      @media only screen and (max-width: 1499px) {
        top: 2rem;
        right: 2rem;
      }
      @media only screen and (max-width: 768px) {
        top: 1rem;
        right: 1rem;
      }
      i {
        transform: rotate(45deg);
      }
    }
    .body {
      display: flex;
      padding: 4rem 3rem 4rem 4rem;
      @media only screen and (max-width: 1499px) {
        padding: 3rem;
      }
      @media only screen and (max-width: 768px) {
        padding: 1.5rem;
      }
      @media only screen and (max-width: 578px) {
        flex-wrap: wrap;
      }
      .pic {
        padding-right: 2.5rem;
        @media only screen and (max-width: 768px) {
          padding-right: 1.5rem;
        }
        @media only screen and (max-width: 578px) {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0;
          margin-bottom: 3.2rem;
        }
        div {
          position: relative;
          width: 24.5rem;
          height: auto;
          border-radius: 5px;
          @media only screen and (max-width: 1199px) {
            width: 21rem;
          }
          @media only screen and (max-width: 768px) {
            width: 15rem;
          }
          @media only screen and (max-width: 578px) {
            width: auto;
            height: 20rem;
          }
        }
        img {
          width: 100%;
          border-radius: 5px;
          @media only screen and (max-width: 578px) {
            width: auto;
            height: 100%;
          }
        }
        .btn_circle {
          position: absolute;
          bottom: -3rem;
          left: 50%;
          transform: translateX(-50%);
          &:hover {
            border-color: $red;
            background: #fff;
            i {
              color: $red;
            }
          }
        }
      }
      .text {
        width: 100%;
        .agree {
          position: relative;
          padding-top: 3rem;
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            background: #dadada;
            border-radius: 1px;
            width: 100%;
            height: 1px;
          }

          .btn {
            margin: 0 0 0 auto;
          }
        }
        h3 {
          padding: 2rem 0;
          letter-spacing: 0;
          @media only screen and (max-width: 1199px) {
            font-size: 3rem;
            padding: 1rem 0;
          }
          @media only screen and (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
        h4 {
          margin-bottom: 3.5rem;
          @media only screen and (max-width: 1499px) {
            margin-bottom: 1.5rem;
          }
          @media only screen and (max-width: 1199px) {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-bottom: 1rem;
          }
        }
        h5 {
          font-size: 2.2rem;
          line-height: 4rem;
          font-weight: 500;
          text-transform: uppercase;
          padding: 0 0 3rem 0;
          @media only screen and (max-width: 768px) {
            font-size: 1.8rem;
            line-height: 2.5rem;
            padding-bottom: 2rem;
          }
        }
        p {
          margin-bottom: 3rem;
          letter-spacing: 0;
          @media only screen and (max-width: 1199px) {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
  &#terms {
    .modal-content {
      max-height: 620px;
      overflow: hidden;
      h3 {
        position: relative;
        margin-bottom: 3rem;
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          content: '';
          background: #dadada;
          border-radius: 1px;
          width: 100%;
          height: 1px;
        }
      }
      .scroll-block {
        padding-right: 10px;
        max-height: 400px;
        @media only screen and (max-width: 1499px) {
          max-height: 350px;
        }
        @media only screen and (max-width: 1399px) {
        }
        @media only screen and (max-width: 1199px) {
          max-height: 250px;
        }
        @media only screen and (max-width: 980px) {
        }
        @media only screen and (max-width: 768px) {
          max-height: 300px;
        }
        @media only screen and (max-width: 578px) {
          max-height: 200px;
        }
      }
    }
  }
  #policy {
    .scroll-block {
      padding-right: 10px;
      max-height: 400px;
      @media only screen and (max-width: 1499px) {
        max-height: 350px;
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
        max-height: 250px;
      }
      @media only screen and (max-width: 980px) {
      }
      @media only screen and (max-width: 768px) {
        max-height: 300px;
      }
      @media only screen and (max-width: 578px) {
        max-height: 200px;
      }
    }
  }
  &#anna-yatsyna,
  &#coach-maria {
    .scroll-block {
      padding-right: 10px !important;
      max-height: 450px;
      @media only screen and (max-width: 1499px) {
        max-height: 350px;
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
        max-height: 250px;
      }
      @media only screen and (max-width: 980px) {
      }
      @media only screen and (max-width: 768px) {
        max-height: 300px;
      }
      @media only screen and (max-width: 578px) {
        max-height: 200px;
      }
    }
  }
}
.hotspot-container {
  .modal-window {
    display: none !important;
  }
}
.popover.top {
  margin-top: 0 !important;
}

.scroll-block > .scroll-element,
.scroll-block > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-block > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-block > .scroll-element.scroll-x {
  bottom: 2px;
  height: 5px;
  left: 0;
  width: 100%;
}

.scroll-block > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 4px;
}

.scroll-block > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-block > .scroll-element .scroll-element_outer,
.scroll-block > .scroll-element .scroll-element_track,
.scroll-block > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.scroll-block > .scroll-element .scroll-element_track,
.scroll-block > .scroll-element .scroll-bar {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.scroll-block > .scroll-element .scroll-element_track {
  background-color: #e0e0e0;
}
.scroll-block > .scroll-element .scroll-bar {
  background-color: #c2c2c2;
}
.scroll-block > .scroll-element:hover .scroll-bar {
  background-color: #919191;
}
.scroll-block > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */

.scroll-block
  > .scroll-element.scroll-x.scroll-scrolly_visible
  .scroll-element_track {
  left: -12px;
}
.scroll-block
  > .scroll-element.scroll-y.scroll-scrollx_visible
  .scroll-element_track {
  top: -12px;
}

.scroll-block
  > .scroll-element.scroll-x.scroll-scrolly_visible
  .scroll-element_size {
  left: -12px;
}
.scroll-block
  > .scroll-element.scroll-y.scroll-scrollx_visible
  .scroll-element_size {
  top: -12px;
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 0 2rem;
    nav {
      display: none;
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 7.9rem;
      background: #fff;
      padding: 2rem;
      z-index: 999;
      ul.main-menu {
        flex-direction: column;
        & > li {
          a {
            height: auto;
            line-height: 5rem;
            font-size: 2rem;
          }
        }
        & > li.menu-item-has-children {
          position: initial;

          & > .sub-menu {
            position: initial;
            visibility: visible;
            opacity: 1;
            transform: none;
            background: transparent;
            li a {
              font-size: 1.6rem;
              font-weight: 500;
            }
            .sub-menu {
              li {
                text-align: left;
                padding: 0 4rem;
                a {
                  font-size: 1.6rem;
                  color: $black;

                  &:after {
                    background: $black;
                  }
                }
              }
            }
            & > li:first-child:before {
              display: none;
            }
            & > li > a {
              color: $black;
              text-align: left;
              padding: 0 2rem;
            }
          }
        }
      }
    }
    & > a.btn_header {
      display: none;
    }
    .menu-mobile {
      display: block;
      width: 26px;
      height: 18px;
      margin: 11px 7px;
      position: relative;
      p {
        position: absolute;
        left: 0;
        width: 26px;
        height: 2px;
        background: $black;
        transition: 0.3s;
        transform-origin: 50% 50%;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 8px;
          transition: 0.1s;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
      &.active {
        p {
          &:nth-child(1) {
            top: 8px;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            bottom: 8px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.photos-section {
  .swiper-button-prev,
  .swiper-button-next {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: transparent !important;
    i {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '\f053';
        color: #fff;
        font-size: 3rem;
        font-style: initial;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        transition: all 0.3s ease-out;
      }
    }
    &:hover {
      i:before {
        color: $red;
      }
    }
  }
  .swiper-button-next {
    i:before {
      content: '\f054';
    }
  }
}

.wp-video-shortcode video,
video.wp-video-shortcode,
.mejs-container {
  height: 80vh !important;
}
#video-1 {
  .modal-content {
    max-width: 80vw;
    height: auto;
    max-height: 80vh;
    width: 80vw;
    .body {
      width: 100%;
      height: 100%;
      padding: 0;
    }
    & > .btn_circle_small {
      display: none;
    }
  }
}
.wp-video {
  width: 100% !important;
}


.btn-overlay{
  position: relative;
  margin: 0 auto; 
  padding: 0;
  background: transparent;
  transition: all .3s ease-out;
  .animation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-out;
  }
}

.classes-section.form-submit{
  .btn-overlay{
    background: $red;
    .btn{
      visibility: hidden;
      opacity: 0;
    }
    .animation{
      visibility: visible;
      opacity: 1;
    }
  }
  form.invalid{
    .btn-overlay{
      background: transparent;
      .btn{
        visibility: visible;
        opacity: 1;
      }
      .animation{
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}



$spinkit-size: 3rem !default;
$spinkit-spinner-color: #fff;
@media only screen and (max-width: 980px){
  $spinkit-size: 2.5rem !default;
}
.sk-circle-bounce {
  $circleCount: 8;
  $animationDuration: 1.2s;
  width: $spinkit-size;
  height: $spinkit-size;
  position: relative;
  margin: auto;

  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: .6rem;
    height: .6rem;
    background-color: $spinkit-spinner-color;
    border-radius: 50%;
    animation: sk-circle-bounce-delay $animationDuration infinite ease-in-out both;
  }
  @for $i from 2 through $circleCount {
    .sk-circle-#{$i} {
      transform: rotate((360deg / $circleCount * ($i - 1)));
    }
  }
  @for $i from 2 through $circleCount {
    .sk-circle-#{$i}:before {
      animation-delay: (-$animationDuration + $animationDuration / $circleCount * ($i - 1));
    }
  }
}

@keyframes sk-circle-bounce-delay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.0);
  }
}

div.wpcf7 .ajax-loader.is-active{
  visibility: hidden !important;
}